@charset "UTF-8";
























































/* Carte */

/* Concours */

.body__concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  justify-items: center;
  margin: 0;
}




