@charset "UTF-8";


/* Body */

.main__conteneur--concours h2 {
  color: white;
}

section.lot {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section.lot h3 {
outline: 3px solid var(--couleur-Jaune-Dore);
outline-offset: 1rem;
border-radius: 0.2rem;
}

.main__conteneur--concours section img {
  width: 100%;
  border: 5px solid var(--couleur-Jaune-Dore);
}

.main__conteneur--concours .instruction__fleche {
  padding-block: 2.5rem;
}

/* Formulaire */

.formulaire__participation {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--couleur-Jaune-Dore);
  margin-block: 1.5rem;
}

.formulaire__participation legend {
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--couleur-Jaune-Dore);
  font-size: 1.5rem;
  font-weight: bold
}

.formulaire__participation input, 
.formulaire__participation select,
.formulaire__participation textarea {
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid var(--couleur-Jaune-Dore);
  padding: 0.3rem; 
  width: 70%;
}

/* Formulaire - Nom - Prénom */

.formulaire__noms {
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-weight: bold;
}

.formulaire__nom, 
.formulaire__prenom {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start ;
}

/* Formulaire - informations */

.formulaire_adresses {
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-weight: bold;
}

.formulaire__adresse,
.formulaire_ville,
.formulaire_province,
.formulaire_code--postal{
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start ;
}

.codepostal__exemple,
.telephone__exemple {
   font-size: 1rem;
   font-weight: bold;
   color: var(--couleur-Jaune-Dore);
}

.formulaire_telephone {
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-weight: bold;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start
}

/* Formulaire - Épigraphes*/

.zone__texte {
  width: 100%;
  margin: 2rem;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-weight: bold;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start
}

/* Formulaire - Règles */

.formulaire_regle {
  margin: 1rem;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start
}

.formulaire_regle input {
 width: auto;
}

/* Formulaire - Soumission */

.formulaire__soumettre button {
  display: inline;
}

.formulaire__soumettre {
  text-align: center; 
}

/* Règlements */

 section.reglement {
  margin-block: 2rem;
  text-align: center;
}

section.reglement__titre {
  margin-bottom: 0.5rem;
  color: var(--couleur-Jaune-Dore);
  text-align: left;
}

.reglement__texte {
  font-size: 1rem;
  color: white;
  margin: auto;

}