@charset "UTF-8";


/* Body */

.main__conteneur--concours h2 {
  color: white;
}

section.lot {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section.lot h3 {
outline: 3px solid var(--couleur-Jaune-Dore);
outline-offset: 1rem;
border-radius: 0.2rem;
}

.main__conteneur--concours section img {
  width: 100%;
  border: 5px solid var(--couleur-Jaune-Dore);
}

.main__conteneur--concours .instruction__fleche {
  padding-block: 2.5rem;
}

.formualire__participation {

  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--couleur-Jaune-Dore);
}

.formualire__participation legend {
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--couleur-Jaune-Dore);
  font-size: 1.5rem;
}

.formualire__participation input, 
.formualire__participation select,
.formualire__participation textarea {
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid var(--couleur-Jaune-Dore);
  padding: 0.3rem; 
}

.formulaire__noms {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.formulaire__nom, 
.formulaire__prenom {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
}

.codepostal__exemple,
.telephone__exemple {
   font-size: 0.70rem;
   color: var(--couleur-Jaune-Dore);
}

.formulaire_regle {
  flex-direction: row;
  margin: 0.5rem 0;
}

.formulaire__soumettre button {
  display: inline;
}

.formulaire__soumettre {
  text-align: center; 
}
