@charset "UTF-8";

/* CSS POUR LE FILTRE */
.filtre__containeur {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
    padding-block: 2rem;
}

.liste-filtre {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.liste-filtre li label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    overflow: hidden; 
}

.liste-filtre li img {
    width: 100%;
    height: auto;
}


.liste-filtre input[type="radio"]:checked + label {
    outline: 0.3rem solid var(--couleur-Lime); 
}

.liste-filtre li label:hover {
    outline: 0.2rem solid var(--couleur-Jaune-Pale); 
}

/* mobile */
@media (min-width: 30rem) {
    .liste-filtre {
        padding-left: 0;
        margin-left: 3rem;
    }
}

/* CSS POUR LA CARTE / GALERIE DES PERSONNAGES */

/* mobile */
.galerie-container {
    width: 100%;
    border: 0.125rem solid var(--couleur-Jaune-Dore); 
    padding: 1.25rem 0.62rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: space-around;
}

.carte {
    width: 45%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lien-personnage {
    text-decoration: none;
    display: block; 
    width: 100%;
    transition: opacity 0.3s ease; 
}

.lien-personnage:hover, 
.lien-personnage:active {
    opacity: 0.7; 
}

.carte img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem; 
    display: block;
}

.carte p {
    color: white;
    font-size: 0.68rem; 
    margin-top: 0.5rem; 
    line-height: 1.3;
}

/* tablette */
@media (min-width: 30rem) {
    .carte {
        width: 30%;
    }

    .carte p {
        font-size: 0.75rem;
    }
}

/* desktop */
@media (min-width: 60rem) {
    .carte {
        width: 22%;
    }
}