@charset "UTF-8";

/* ------------------ */
/* CSS NAVIGATION */
/* ------------------ */

nav {
    max-width: 360px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px var(--couleur-Jaune-Dore);
    padding-bottom: 1rem;
}

.nav__logo {
    z-index: 102;;
}

.nav__lien {
    font-size: 0;
}

.nav__image {
    width: 100%;
    height: auto;
}

.nav .nav__barre {
    width: 100%;
    justify-content: right;
    flex-direction: column;
}

.menu {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    font-size: 1rem;
    text-align: right;
    padding-block: 1rem;
    margin-top: -1.5rem;
    z-index: 101;
    background: linear-gradient(0.25turn, #1A1A1A, #69510e4d);
    border-radius: 1rem;
    width: 100%;
}

.menu .menu__item {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
    margin-right: 1rem;
    background-color: #1a1a1a78;
    border-radius: 1rem;
}

/* AFFICHAGE TABLETTE */

@media (min-width: 30rem) {
    .nav {
        max-width: 600px;
    }

    .menu {
        flex-direction: row;
    }

    .menu .menu__item {
        margin: 0;
        padding: 0.5rem 1.5rem;

    }
}

/* AFFICHAGE TABLE */

@media (min-width: 60rem) {
    .nav {
        max-width: 1000px;
        flex-direction: row;
        align-items: flex-end;
    }

    .nav__image {
        width: 500px;
    }

    .nav .nav__barre {
        flex-direction: unset;
    }

    .menu {
        flex-direction: row;
        gap: 2rem;
        font-size: 1.3rem;
        margin: 0 0 0 -20rem;
        padding: 0;
        background: none;
        width: fit-content;
    }

    .menu .menu__item {
        padding-inline: 0;
        background-color: transparent;
        padding-block: 0;
    }
}

/* -------------- */
/* Bouton du menu */
/* -------------- */

.nav__control {
    background-color: var(--couleur-Jaune-Fonce);
    color: var(--couleur-Jaune-Dore);
    border: none;
    padding: 10px;
    margin: -3rem 0 0.5rem auto;
    min-width: 40px;
    min-height: 40px;
    border-radius: 1rem;
    position: inherit;
    z-index: 103;
    display: block;
}

@media (min-width: 60rem) {
    .nav__control {
        display: none;
    }
}

.nav__control:hover,
.nav__control:active {
    color: var(--couleur-Jaune-Pale);
}

.nav__control:focus-visible {
    outline-offset: -5px;
    outline: var(--couleur-Jaune-Fonce) auto 5px;
}


.nav__control:before {
    display: inline-block;
    content: "";
    width: 1em;
    height: 1em;
    background-image: url(../images/icones/ico-fermer.svg);
    background-size: auto 1em;
}

.nav--closed .nav__control:before {
    background-image: url(../images/icones/ico-menu.svg);
}

/* Liste du menu */
.js .menu {
    max-height: none;
}

@media (min-width: 60rem) {
    .menu__item {
        display: inline-block;
    }

    .js .menu {
        margin: 0 0 0 -20rem;
    }
}

@media (max-width: 60rem) {
    .js .menu {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }

    .js .nav--closed .menu {
        max-height: 0;
        transition: max-height 0.5s;
        margin: 0;
        padding: 0;
    }
}

/* ------------------ */
/* FIN CSS NAVIGATION */
/* ------------------ */


/* ------------------ */
/* CSS FOOTER */
/* ------------------ */

footer {
    max-width: 360px;
    margin: 0 auto;
    border-top: 2px solid var(--couleur-Jaune-Dore);
    padding-top: 1rem;
}

.footer__containeur {
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer__menu {
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 2rem;
}

.footer__reseaux-sociaux {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}

.footer__texte-containeur {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: white;
}

/* AFFICHAGE TABLETTE */

@media (min-width: 30rem) {
    footer {
        max-width: 600px;
    }

    .footer__menu {
        justify-content: space-between;
    }
}

/* AFFICHAGE TABLE */

@media (min-width: 60rem) {
    footer {
        max-width: 1000px;
    }

    .footer__containeur {
        max-width: 800px;
    }
}

/* Autres, modificateurs, effets (initial, survol, focus) */

.lien {
    color: var(--couleur-Jaune-Dore);
    text-decoration: none;
    font-variant: small-caps;
}

.lien:hover {
    color: var(--couleur-Jaune-Pale);
    text-decoration: underline;
}

.lien:focus-visible {
    outline: var(--couleur-Jaune-Dore) 1px solid;
    border-radius: 0.5rem;
}

.facebook:hover .lien-facebook {
    content: url(../images/icones/facebook/survol.svg);
}
.instagram:hover .lien-instagram {
    content: url(../images/icones/instagram/survol.svg);
}
.twitter:hover .lien-twitter {
    content: url(../images/icones/twitter/survol.svg);
}
.youtube:hover .lien-youtube {
    content: url(../images/icones/youtube/survol.svg);
}

.flex {
    display: flex;
}

/* ------------------ */
/* FIN CSS FOOTER */
/* ------------------ */