@charset "UTF-8";

/* IMPORTATION DES AUTRES CSS */
@import 'normalize.css'; /* Pour réinitialiser le chargement d'une page */
@import 'navfooter.css'; /* Stylisation de la Navigation et du Footer */
@import 'accueil.css'; /* Stylisation du body de l'Accueil (index.html) */
@import 'galerie.css'; /* Stylisation du body de la page galeriedespersonnage.html */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --couleur-Jaune-Fonce: #69510E;
    --couleur-Jaune-Dore: #D4AF37;
    --couleur-Jaune-Pale: #E5DB69;
    --couleur-Gris-Pale: #B4B4B4;
    --couleur-Lime: #9BB227;

    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
    scroll-behavior: smooth;
}

/* Pour cacher visuellement tout en gardant accessible un contenu */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem; 
    margin: -0.0625rem; 
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem; 
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

body {
    background-color: #1A1A1A;
}

.main {
    max-width: 100%;
}

.main .main__containeur {
    max-width: 330px;
    margin: 0 auto;
    color: white;
}

.main .main__titre {
    color: var(--couleur-Jaune-Dore);
}

@media (min-width: 30rem) {
    .main .main__containeur {
        max-width: 670px;
    }
}

@media (min-width: 60rem) {
    .main .main__containeur {
        max-width: 1000px;
    }
}

/* Différents états des boutons */

/* Initial */
button {
    background-color: var(--couleur-Jaune-Dore);
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: #fff;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

button:hover,
button:active {
    background-color: var(--couleur-Jaune-Pale);
}

button:focus-visible {
    background-color: var(--couleur-Jaune-Pale);
    outline: 2px solid var(--couleur-Jaune-Fonce);
}

button:disabled {
    background-color: #2B2B2B;
    color: --couleur-Gris-Pale;
}

button:disabled a {
    color: --couleur-Gris-Pale;
}
