@charset "UTF-8";

/* IMPORTATION DES AUTRES CSS */
@import 'normalize.css';
@import 'navfooter.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --couleur-Jaune-Fonce: #69510E;
    --couleur-Jaune-Dore: #D4AF37;
    --couleur-Jaune-Pale: #E5DB69;
    --couleur-Gris-Pale: #B4B4B4;

    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1A;
}