body {
    background-color: #1a1a1a;
    color: white;
}

/* Pour cacher visuellement tout en gardant accessible un contenu */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem; 
    margin: -0.0625rem; 
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem; 
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.liste-filtre {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.liste-filtre li label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    overflow: hidden; 
}

.liste-filtre li img {
    width: 100%;
    height: auto;
    display: block;
}


.liste-filtre input[type="radio"]:checked + label {
    outline: 0.3rem solid #9BB227; 
}

.liste-filtre li label:hover {
    outline: 0.2rem solid #E5DB69; 
}

/* mobile */
@media (max-width: 450px) {
    .liste-filtre {
        padding-left: 0;
    }
}